body {
  margin: 0;
  background: #f0f2f5;
  font-family: sans-serif;
}
.tutorial-sections {
  padding: 40px 20px;
  text-align: center;
  background: linear-gradient(135deg, #f8f9fa, #e8ecf1);
  border-radius: 12px;
  margin: 40px auto;
  max-width: 800px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.tutorial-headingh {
  font-size: 3.8rem;
  font-weight: 700;
  color: #0032e7;
  margin-bottom: 20px;
}

.tutorial-descriptionp {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
}

.slider-container2 {
  width: 100%;
  overflow: hidden;
  padding: 50px 0;
  background: #fff;
 
}

.video-slider2 {
  display: flex;
  width: max-content;
  gap: 30px;
  will-change: transform;
  padding-left: 20px;
   margin-bottom:50px;
   overflow: hidden;
}

.video-card2 {
  width: 300px;
  height: 350px;
  flex-shrink: 0;
  /* border-radius: 18px; */
  overflow: hidden;
  background: linear-gradient(135deg, #ffffff, #e6f2ff);
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.18);
  transition: transform 0.3s ease;
}

.video-card2 a {
  display: block;
  width: 100%;
  height: 100%;
}

.video-card2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  /* border-radius: 18px; */
}
.slider2-container{
  overflow: hidden;
}
@media (max-width:1255px) {
  .tutorial-sections{
    padding-top: 50px;
  }
}